/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: aquamarine;
}

#header-text {
    background-color: orange;

}

figcaption {
    position: fixed;
    right: 20px;
    top: 400px;
    color: white;
    background-color: darkviolet;
    font-size: 2em;
}

#hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.inline {
    display: inline;
}

li {
    margin: 0px 5px;
    padding: 5px;
}