/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: aquamarine;
}

#header-text {
    background-color: orange;

}

/* Hero Image */
figcaption {
    position: absolute;
    right: 20px;
    top: 400px;
    color: white;
    background-color: darkviolet;
    font-size: 2em;
}

#hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Flexbox Container */
body {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.main-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
   
}

.section-heading {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 3em;
    width: 300px;
    border-right: 3px solid blue;
}

/* Flexbox for About Me Section */
#about-paragraph {
    width: 70%;
}

.about-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

/* Flexbox for Work Section */
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

#work-highlight {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.work-img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    padding: 10px;
}

/* Footer */
footer {
    text-align: center;
}


/* Misc */
.inline {
    display: inline;
}

li {
    margin: 0px 5px;
    padding: 5px;
}

main img {
    width: 100%;
    opacity: 20%;
}

main img:hover {
    opacity: 100%;
    cursor: pointer;
    transition: all 0.7s ease;
}